.inner-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 150px;
}
.form-btn {
  text-align: center;
  display: flex !important;
  margin: 0 auto;
  margin-top: 10px;
}
.inner-title {
  text-align: center;
  margin-bottom: 20px;
}
.task-btn {
  margin-top: 10px;
  color: #fff !important;
}
.task-btn.task-btn-todo {
  background-color: #4C9AFF !important;
  color: #fff !important
}
.task-btn.task-btn-todo:hover {
  color: #fff !important
}
.task-btn:hover {
  color: #fff !important
}
.task-btn.task-btn-done {
  text-decoration: line-through;
}
.task-btn.task-btn-done:hover {
  text-decoration: line-through !important;
}
.task-btn.task-btn-doing {
  background-color: #172B4D !important;
  color: #fff !important;
}
.task-btn.task-btn-doing:hover {
  color: #fff !important;
}